.icon{
  font-size: 100px;
}

.body{
  text-align: center;
}
body{
  font-family: sans-serif;
}
.box{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
}
.im{
  font-size: 50px;
  padding-left: 40%;
}
.hl{
  text-align: center;
  font-size: 40px;
}
.pop{
  padding-left: 30%;
  padding-top: 3%;
}

.icon:hover{
  transform: scale(1.3);
}
